@import url("react-dropzone/examples/theme.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Inter, system-ui;
  box-sizing: border-box;
  color: #555;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", system-ui;
  }
}

:root {
  --fg: #000;
  --bg: #fff;
  --theme: #e81c4f;
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --xl2: 1536px;
}

:not(#title)::selection {
  background: var(--theme);
  color: white;
}

[data-theme="dark"] {
  --fg: #fff;
  --bg: #000;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  display: block;
  width: 100vw;
}

a {
  color: var(--theme);
}

#cf-challenge {
  position: relative;
  z-index: 2;
}
button {
  transition-duration: 0.5s;
  transition-property: all;
}

[role="tablist"] {
  padding: 0.5rem 0;
  flex-direction: row;
}

@media (max-width <= 768px) {
  [role="tablist"] {
    flex-direction: column;
  }
}
