@import url('node_modules/modern-normalize/modern-normalize.css');

/* TODO: Change to appropriate colors. add more properties (pallet). */

:root {
    --fg: #000;
    --bg: #fff;
}

[data-theme="dark"] {
    --fg: #fff;
    --bg: #000;
}

html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}


main {
    display: block;
    width: 100vw;
    height: 100vh;
}
