.main > * {
  border: 1px solid black;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
  font-size:medium
}

.footer>:last-child {
  font-weight: 100;
  font-size: small;
}