.main {
  margin: 0 auto;
  padding: 0 8rem;
  max-width: 2200px;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  height: 18vh;
}

.heading:last-child {
  flex: 1;
}

.logo {
  align-self: center;
  height: 14vh;
}
