/* inspired by: https://css-tricks.com/responsive-data-tables/ */
.responsiveTable {
  max-width: calc(var(--xl) * 1.5);
}

/* .task-row {
  display: grid;
  gap: 1rem;
  grid-template-columns: 0.5fr .8fr minmax(max-content, .5fr) max-content max-content .5fr 1.5fr minmax(max-content, .6fr);
} */

.responsiveTable td .tdBefore {
  display: none;
}
.responsiveTable td {
  max-width: max-content
}
.responsiveTable th {
  max-width: max-content
}

@media screen and (width <=938px) {
  /*
    Force table elements to not behave like tables anymore
    Hide table headers (but not display: none;, for accessibility)
  */

  .responsiveTable table,
  .responsiveTable theadkkk,
  .responsiveTable tbody,
  .responsiveTable th,
  .responsiveTable td,
  .responsiveTable tr {
    display: block;
  }

  .responsiveTable thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
    border-bottom: 2px solid #333;
  }

  .responsiveTable tbody tr {
    padding: 0.25em;
  }

  .responsiveTable td.pivoted {
    /* Behave like a "row" */
    border: none !important;
    position: relative;
    padding-left: calc(50% + 10px) !important;
    text-align: left !important;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  .responsiveTable td .tdBefore {
    /* Now like a table header */
    position: absolute;
    display: block;

    /* Top/left values mimic padding */
    left: 1rem;
    width: calc(50% - 20px);
    white-space: pre-wrap;
    overflow-wrap: break-word;
    text-align: left !important;
    font-weight: 600;
  }
}