.stats {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: calc(var(--xl));
  margin: 0 auto;
}

@media screen and (width > 938px) {
  .stats {
    flex-direction: row;
  }
}